#ngeza{
    display: flex;
}
#class1{
    width: 33%;
    height: 1000px;
    background-color:rgb(226,197, 155);
}
#class2{
    width: 33%;
    height: 1000px;
    background-color:rgb(174, 134, 100);
}
#class3{
    width: 33%;
    height: 1000px;
    background-color:rgb(96, 72, 61);
}